/* 
###################################
EVERYTHING INVOLVING THE ITEM LIST / PURCHASE PAGE
###################################
*/

/* Enables scrolling */
.SCROLLABLE_ITEM_LIST {
  max-height: 460px;
  /* Adjust the height as needed */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

/* Lists several items per row */
.item-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/* An item of the list */
.item-list li {
  background-image: url("../imgs/ITEM.png");
  width: 320px;
  /* adjust to taste */
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 15px;
  line-height: 0.5;
}

/* Adjusts the distance between the top of the image and the text */
.item-list h3 {
  margin-top: 0;
  color: white;
}

/* Adjusts the distance between the top of the image and the purchase button */
.item-list p {
  margin-bottom: 5px;
  color: white;
}

/* These are text colors corresponding to item type/availability */
.item-list .price {
  color: #4CAF50;
  font-weight: bolder;
}

.item-list .seller {
  color: #2196F3;
}

.item-list .available {
  color: #4CAF50;
  font-weight: bold;
}

.item-list .unavailable {
  color: #ff4d4d;
  font-weight: bold;
}

/* PURCHASE BUTTON */
.buyme {
  /* adjust width of button */
  width: 24.9vh;
  background-image: url("../imgs/purchase_button.png");
  justify-content: center;
  align-items: center;
}