.App {
  background-image: url("imgs/bg.png");
  background-size: 100vw 100vh;
  min-height: 100vh;
  text-align: center;
  /* place all contents in center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Contains miscellaneous variables for proper page rendering */
.subpage {  
  min-height: 85vh; /* Minimum height of this element = 100% of viewport height */
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* BASIC BUTTON FORMATTING */
button {
  background-image: url('imgs/BUTTON2.png');
  padding: 10px 20px;
  font-size: 25px;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain; /* Adjust the button size to match the image */
  background-position: center; /* Center the image within the button */
  width: 38vh;
  color: white;
  font-weight: bold;
}






