/* 
###################################
BASICS
###################################
*/

.App {
  background-image: url("imgs/bg.png");
  background-size: 100vw 100vh;
  min-height: 100vh;
  text-align: center;
  /* place all contents in center */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Contains miscellaneous variables for proper page rendering */
.BACKGROUND {  
  min-height: 85vh; /* Minimum height of this element = 100% of viewport height */
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.SELL_ITEM {
  background-color: var(--FOREGROUND);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
}

.TITLE {
  background-image: url("imgs/title2.png");
  min-height: 10vh;
  max-height: 15vh;
  font-size: calc(15px + 2vmin);
  color: white;
  padding: 5px;
}

.FOOTER {
  background-color: #000000;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 15px;
}

.ETH {
  background-image: url("imgs/ETH.png");
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  padding: 5px;
  /* border-radius: 15px; */
  width: 500px;
}

.loading {
  color: white;
}

.wallet {
  color: white;
}

/* PART 2: BUTTONS!! */
/* General button styles */
button {
  background-image: url('imgs/BUTTON2.png');
  padding: 10px 20px;
  font-size: 25px;
  /* border-radius: 4px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain; /* Adjust the button size to match the image */
  background-position: center; /* Center the image within the button */
  width: 38vh;
  color: white;
  font-weight: bold;
}

.submit {
  background-image: url('imgs/SUBMITBUTTON.png');
}

/* Specific styles for the "Buy Items" button */
.buy-btn {
  background-image: url("imgs/SUBMITBUTTON.png");
  display: flex;
  flex-direction: column;
  color: white;
  border: none;
}

.buyme {
  /* adjust width of button */
  width: 24.9vh;
  background-image: url("imgs/purchase_button.png");
  justify-content: center;
  align-items: center;
}

.cart {
  background-image: url("imgs/menu.png");
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain; /* Adjust the button size to match the image */
  background-position: center; /* Center the image within the button */
  width: 38vh;
  color: white;
  font-weight: bold;
}

.buy-btn:hover {
  background-color: #45a049;
}

.b1:hover {
  background-color: #45a049;
}

/* 
###################################
EVERYTHING INVOLVING THE ITEM LIST
###################################
*/

/* Enables scrolling */
.SCROLLABLE_ITEM_LIST {
  max-height: 460px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Lists several items per row */
.item-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/* An item of the list */
.item-list li {
  background-image: url("imgs/ITEM.png");
  width: 320px; /* adjust to taste */
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 15px;
  line-height: 0.5;
}

/* Adjusts the distance between the top of the image and the text */
.item-list h3 {
  margin-top: 0;
  color: white;
}

/* Adjusts the distance between the top of the image and the purchase button */
.item-list p {
  margin-bottom: 5px;
  color: white;
}

/* These are text colors corresponding to item type/availability */
.item-list .price {
  color: #4CAF50;
  font-weight: bolder;
}
.item-list .seller {
  color: #2196F3;
}
.item-list .available {
  color: #4CAF50;
  font-weight: bold;
}
.item-list .unavailable {
  color: #ff4d4d;
  font-weight: bold;
}

/* 
###################################
EVERYTHING INVOLVING MENUS
###################################
*/

.HOME_MENU {
  background-image: url('imgs/menu.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 50vh;
  position: relative;
  background-repeat: no-repeat;
}

.CREATE_ITEM_MENU {
  background-image: url('imgs/create_item.png'); /*background-image: url('imgs/create_item.png');*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 60vh;
  position: relative;
  background-repeat: no-repeat;
}

.LOGO_SIZE {
  max-width: 100%;
  max-height: 100%;
}


